# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log
media/

#Django specific
backend/media/
backend/db.sqlite3

#virtual env
env/
.env 
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
