.question_bar
{
    width: 200px;
    height: auto;
    padding: 1rem 1rem;
    background-color: #2d3748;
    border-radius: 1.5rem;
    color: white;
    transition: all ease-in-out 0.3s;
}

.question_bar:hover
{
    cursor: pointer;
    transform: translateY(-10px);
}