.question_bar
{
    width: 200px;
    height: auto;
    padding: 1rem 1rem;
    background-color: #2d3748;
    border-radius: 1.5rem;
    color: white;
    transition: all ease-in-out 0.3s;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.question_bar.inactive 
{
    display: none;
}

.question_bar:hover
{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 10px 8px 20px rgba(0,0,0,0.12);
}

.question_bar_container
{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.chatbox
{
    position: fixed;
    bottom: 30px;
    right: 30px; 
    border-radius: 20px;
    height: 400px;
    width: 270px;
}

.header_chat
{
    position: absolute;
    top: 0.2rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-left: 1rem;
    padding-top: 0.5rem;
    z-index: 1;
    width: 100%;
    height: 12%;
    background-color: #725555;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.assistant_header, .closing_header
{
    margin-left: 0.4rem;
    height: 70%;
    color: white;
}

.closing_header
{
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    height: 28px;
    width: 30px;
    transition: all ease-in-out 0.3s;
}

.closing_header:hover
{
    cursor: pointer;
    background-color: rgba(255, 250, 250, 0.6);
}

.session_noti_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.76);
}

.session_noti
{
    color: white;
}

.new_chat
{
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

.chat_container
{
    position: relative;
    margin-top: 43px;
    width: 270px;
    height: 300px;
    background-color: #fafafa;
    overflow-y: scroll;
    font-size: 0.8rem;
}

.input_container
{
    height: 70px;
    background-color: #ffffff;
    padding-top: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    border-top: 1px solid #e5e7eb;
}

.chat
{
   position: absolute;
   left: 0.6rem;
   top: 0.8rem;
   z-index: 1;
   bottom: 0;
   margin-bottom: 1rem;
   margin-top: 0;
   border-radius: 20px;
   border: 1px solid #e5e7eb;
   width: 178px;
   height: 40px;
   padding: 0.8rem;
   font-size: 0.6rem;
   background-color: #fafafa;
   color: rgb(159, 154, 154);
}

.chat::placeholder
{
    color: rgb(159, 154, 154);
}

.chat_button
{
    position: absolute;
    right: 0.6rem;
    top: 1rem;
    z-index: 2;
    margin-bottom: 1.3rem;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 50px;
    font-size: 0.7rem;
    color: white;
    font-weight: 900;
    background-color: rgb(211, 130, 24);

}

.user_msg_container
{
    background-color: pink;
    display: flex;
    justify-content: flex-end;
    width: auto;
    max-width: 150px;
    margin: 12px 10px;
    margin-left: 120px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
}

.user_msg
{
    height: auto;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 0.7rem;
}

.ai_msg_container
{
    background-color: rgb(221, 250, 3);
    display: flex;
    justify-content: flex-start;
    width: auto;
    max-width: 170px;
    margin: 12px 10px;
    margin-right: 90px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
}

.ai_msg 
{
    height: auto;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 0.7rem;
}

.ai_msg_loading
{
    color: black;
    display: flex;
    justify-content: flex-start;
}

.prompt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.prompt p 
{
    margin-bottom: 0.2rem;
    color: rgb(174, 162, 162);
}

.prompt_thinkbox
{
    font-size: 2rem;
}

