.login_form 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.4rem;
}

.login_input
{
    width: 20%;
    font-family: 'Georgia';
    font-size: 0.8rem;
}