.product_display
{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.img_rec
{
    width: 300px;
    height: auto;
    max-height: 300px;
    object-fit: contain;
}