.product_display
{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.img_rec
{
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

.product_link
{
    text-decoration: none;
    font-weight: 700;
    color: black;
}