.display_profile_img 
{
    display: flex;
    gap: 1rem;
}

.date 
{
    text-align: left;
    margin-left: 1rem;
}

.skininfo_display 
{
    text-align: left;
    margin-left: 1rem;
}

.skincare_img
{
    width: 500px;
    height: 420px;
    margin-top: 3rem;
}

.img_container
{
    display: flex;
    justify-content: flex-end ;
}

.info_left
{
    display: flex;
    gap: 9rem;
    margin-bottom: 3rem;
}

