.profile_page
{
    background-color: #fafafa;
}

.username 
{
    font-weight: 900;
}

.info_box 
{
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: white; 
    padding: 1.5rem;
    width: 70%;
    border: solid 1px rgb(227, 222, 222);
    border-radius: 0.7rem;
}

.info_box p 
{
    margin: 0.4rem;
}

.info_title
{
    color: grey;
    font-weight: 500;
}

.display_profile_img 
{
    display: flex;
    gap: 1rem;
    margin: 0;
    flex-wrap: wrap;
}

.img_container
{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.skininfo_display 
{
    text-align: left;
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    padding: 0 3rem; 
}

.skincare_img
{
    width: 500px;
    height: 420px;
    margin-top: 3rem;
}

.img_container
{
    display: flex;
    justify-content: flex-end ;
}

.info_left
{
    display: flex;
    gap: 9rem;
    margin-bottom: 3rem;
}

.image_display
{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6.5rem;
}

.image_title
{
    font-size: 1.4rem;
    font-weight: 700;
}

.date
{
    margin: 0;
    text-align: left;
}

.reminder_login
{
    background-color: #e1d3c5;
    border: 1px solid rgb(243, 218, 197);
    border-radius: 5px;
    color: #5a4a42;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    transition: all ease-in-out 0.1s;
}

.reminder_login:hover 
{
    background-color: #eddccb;
    border: 1.5px solid rgb(235, 179, 133);
}

